.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-area {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 50%;


}

.App-body {
  background-color: #545658;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-form {
  border: double red 5px;
}

.form-control {
  border: double green 5px;
}

.input-group {
  border: double black 5px;
}

.input-buttons {
  border: double grey 5px;
}

.input-button {
  border: double blue 5px;
}

.list-group {
  border: double yellow 5px;
}

.list-row {
  border: double salmon 5px;
}

.list-col {
  border: double lightgray 5px;
}

.del-btn {
  border: dotted orange 5px;
  float: right;
}